@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 25% 96%;
    --foreground: 210 10% 23%;
    --card: 0 0% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 210 98% 73%;
    --primary-foreground: 210 60% 15%;
    --secondary: 210 25% 90%;
    --secondary-foreground: 210 10% 23%;
    --muted: 210 25% 90%;
    --muted-foreground: 210 10% 45%;
    --accent: 35 100% 65%;
    --accent-foreground: 35 100% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 85%;
    --input: 210 20% 88%;
    --ring: 210 98% 73%;
    --chart-1: 210 98% 73%;
    --chart-2: 35 100% 65%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 210 10% 23%;
    --sidebar-primary: 210 98% 73%;
    --sidebar-primary-foreground: 210 60% 15%;
    --sidebar-accent: 210 25% 96%;
    --sidebar-accent-foreground: 210 10% 10%;
    --sidebar-border: 210 20% 88%;
    --sidebar-ring: 210 98% 73%;
  }

  .dark {
    --background: 210 10% 15%;
    --foreground: 210 20% 90%;
    --card: 210 10% 20%;
    --card-foreground: 210 20% 90%;
    --popover: 210 10% 20%;
    --popover-foreground: 210 20% 90%;
    --primary: 210 98% 73%;
    --primary-foreground: 210 60% 15%;
    --secondary: 210 10% 25%;
    --secondary-foreground: 210 20% 90%;
    --muted: 210 10% 25%;
    --muted-foreground: 210 20% 60%;
    --accent: 35 100% 65%;
    --accent-foreground: 35 100% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 30%;
    --input: 210 10% 30%;
    --ring: 210 98% 73%;
    --chart-1: 210 98% 73%;
    --chart-2: 35 100% 65%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    
    --sidebar-background: 210 10% 20%;
    --sidebar-foreground: 210 20% 90%;
    --sidebar-primary: 210 98% 73%;
    --sidebar-primary-foreground: 210 60% 15%;
    --sidebar-accent: 210 10% 25%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 210 10% 30%;
    --sidebar-ring: 210 98% 73%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}
